*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter";
    text-align: center;
    font-size: 20px;
    background-color: #ffedd0;
    color: #212121cc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main { flex: 1;

}
h1, h2, h3, h4, b, strong {
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #795757;
    color: white;
    font-weight: bold;
}

.nav-center {
    display: flex;
    align-items: center;
}

.navlinks {
    margin-left: 20px;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-right: 40px;
}

.navlinks a {
    color: white;
    text-decoration: none;
    position: relative; 
}

.navlinks a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -8px;
    left: 0;
    background-color: #ffedd0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.navlinks a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navlinks a.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.profile_cart {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar .buttons {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.navbar .buttons a {
    margin-left: 20px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    padding: 12px 40px;
}

.navbar .logo img {
    width: 150px;
}

.buttons .signup {
    border: 1px solid transparent;
    background-color: #3b3030;
    transition: background-color 0.3s ease-in-out; /* More specific transition property */
}

.buttons .signup:hover {
    background-color: #282121;
}

.buttons .login {
    border: 1px solid rgba(255, 255, 255, 0.422);
    transition: border-color 0.3s ease-in-out; /* More specific transition property */
}

.buttons .login:hover {
    border-color: rgba(0, 0, 0, 0.422);
}

.form_container {
    text-align: left;
    font-size: 18px;
    margin: 40px auto;
    max-width: 400px;
    padding: 40px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


.intro h1 {
    padding: 0 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
    font-family: "Knewave", system-ui; /*"Sriracha", cursive;*/
    font-size: 50px;
    margin-bottom: 50px;
}

.intro p {
    color: #ffffffcc
}
.intro {
    padding: 30px;
    color: white;
    min-height: 200px;
    background-color: #3b3030;
}

.form_data input {
    font-family: inherit;
    font-size: inherit;
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 8px;
}

.form_data input[type=submit] {
    width: 200px;
    margin: 30px auto -5px;
    color: #ffffff;
    background-color: #3b3030;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 12px 40px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.form_data input[type=submit]:hover {
    background-color: #282121;
}

.message {
    margin-top: 30px;
}

.message a {
    color: inherit;
    text-decoration: underline #3b3030 4px;
    text-underline-offset: 8px;
    transition: font-weight 0.3s ease-in-out, text-decoration-color 0.3s ease-in-out;
}

.message a:hover {
    font-weight: bold;
    text-decoration-color: #555555; 
}


.alert {
    color: white; 
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    margin: 15px 0;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.alert.success {
    position: fixed; 
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1000; 
    width: 300px; 
    text-align: center; 
    background-color: #4caf50; 
    
}

.alert.error {
    background-color: rgb(205, 67, 67);
}
header p {
    text-decoration:underline #ffedd0 4px;
    text-underline-offset: 8px;  
}




.product_container {
    border: 1px solid #58585836;
    margin: 30px auto;
    width: 1200px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    gap: 3rem;
    padding: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card img {
    width: 200px;
}

.card {
    border-radius: 8px;
    background-color: white;
    padding: 30px;
    margin: auto;
    width: calc(33.333% - 3rem);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card_buttons {
    text-align: left;
    margin: 15px 0;
}

.caption {
    text-align: left;
    display: flex;
    flex-direction: column;
}


.caption p {
    margin: 15px 0;
}

.caption .product_name {
    color: #212121;
    font-weight: 500;
}
.caption .product_price, .product_subtotal {
    color: #212121;
    font-weight: 400;
    font-size: 18px;
}

.price_subtotal {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product_subtotal {
    border-radius: 8px;
    border: 1px solid;
    padding: 15px 10px;
}

.total_price {
    text-align: left;
}

.card_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.quantity_wrapper {
    display: flex;
    align-items: center;
}

.card_buttons label {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.card_buttons input[type=number] {
    border-radius: 4px;
    border: 1px solid;
    width: 60px;
    padding: 8px;
}

.card_buttons button {
    border-radius: 8px;
    padding: 12px 40px;
    font-weight: bold;
}


.card_buttons .add {
    color: white;
    background-color: #3b3030;
    border: 1px solid transparent;
    transition: background-color 0.3s ease-in-out;
}

.card_buttons .add:hover {
    background-color: #282121;
}

.intro2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    max-width: 100%;
    margin: 30px auto;
    margin-bottom: 20px;
}

.intro2 h2 {
    margin-bottom: 10px;
}

.intro_message_left {
    flex: 1;
    text-align: left;
}

.intro_message_right {
    flex: 1;
    text-align: right;
}

.cart_button_left {
    margin-right: auto;
}

.cart_button_right {
    margin-left: auto;
}


.btn {
    text-decoration: none;
    color: white;
    background-color: #3b3030;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 12px 40px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #282121;
}

.cart_table {
    width: 1200px;
    margin: 0px auto;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden; 
    background-color: #58585836;
    border: 1px solid #58585836;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.cart_table input[type=number] {
    border-radius: 4px;
    border: 1px solid;
    width: 60px;
    padding: 8px;
    margin-right: 15px;
}

.cart_table th, .cart_table td {
    border: 2px solid #58585836;;
    padding: 8px;
}

.cart_table td {
    background-color: white;
}

.cart_table th {
    color: white;
    background-color: #664343;
}

.cart_table img {
    max-width: 100px;
    height: auto;
}

.cart_table thead th:first-child {
    border-top-left-radius: 8px;
}

.cart_table thead th:last-child {
    border-top-right-radius: 8px;
}

.cart_table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.cart_table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.cart_table .subtotal {
    color: #212121;
    font-weight: bold;
}

.cart_table button {
    border-radius: 8px;
    padding: 12px 20px;
    border: 1px solid transparent;
    font-weight: bold;
    color: white;
    margin: 0 5px;
    transition: background-color 0.3s ease-in-out;
}

.update {
    background-color: #3b3030;
}

.update:hover {
    background-color: #282121;
}

.remove {
    background-color: rgb(205, 67, 67);
}

.remove:hover {
    background-color: rgb(174, 58, 58);
}



.total_billing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.total_price {
    margin-left: auto;
}

.proceed_to_billing {
    margin: 0 auto;
}

.empty_cart_message {
    margin: 0 auto;
    color: #212121cc;
}

.total_billing {
    border: 1px solid #58585836;
    background-color: white;
    padding: 50px 0;
    border-radius: 8px;
}

.intro3 {
    text-align: left;
    width: 1200px;
    max-width: 100%;
    margin: 30px auto;
    margin-bottom: 20px;
}

.intro3 h2 {
    margin-bottom: 10px;
}

.billing_container {
    text-align: left;
    font-size: 18px;
    margin: 40px auto;
    max-width: 1200px;
    padding: 40px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.billing_container label {
    display: block;
    font-weight: bold;
    margin: 15px 0;
}

.billing_container input, textarea, select, option {
    font-family: inherit;
    font-size: 18px;
    width: 100%;
    padding: 8px;
}

.billing_container button {
    display: block;
    margin: 30px auto 0;
    color: white;
    font-size: 20px;
    background-color: #3b3030;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 12px 40px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.billing_container button:hover {
    background-color: #282121;
}

.order_summary {
    width: 1200px;
    margin: 30px auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border: 1px solid #58585836
}

.summary_intro {
    margin: 15px auto;
    border-radius: 8px;
    width: 100%;
    padding: 30px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.summary_intro p{
    margin: 10px auto;
    text-align: left;
}

.summary_intro h3 {
    margin-bottom: 10px;
}

.summary_intro h4{
    text-align: right;
}

.cart_table2 {
    width: 100%;
    margin: 0px auto;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden; 
    background-color: #58585836;
    border: 1px solid #58585836;;
}

.cart_table2 th, .cart_table2 td {
    border: 2px solid #58585836;;
    padding: 8px;
}

.cart_table2 td {
    background-color: white;
}

.cart_table2 th {
    color: white;
    background-color: #664343;
}


.cart_table2 thead th:first-child {
    border-top-left-radius: 8px;
}

.cart_table2 thead th:last-child {
    border-top-right-radius: 8px;
}

.cart_table2 tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.cart_table2 tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.cart_table2 .subtotal {
    font-weight: bold;
}


.profile_container{
    margin: 0 auto;
    width: 1200px;
}

.profile_container .alert.error {
    margin: 0 auto;
    text-align: center;
}

.profile_cart .profile, .cart {
    filter: invert(0.8) sepia(1) saturate(0) hue-rotate(180deg);
    transition: filter 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.profile_cart .profile.active {
    filter: invert(0.6) sepia(1) saturate(3) hue-rotate(170deg);
}

.profile_cart .cart.active {
    filter: invert(0.6) sepia(1) saturate(3) hue-rotate(60deg);
}

.profile_cart .profile:hover {
    filter: invert(0.6) sepia(1) saturate(3) hue-rotate(170deg);
}

.profile_cart .cart:hover {
    filter: invert(0.6) sepia(1) saturate(3) hue-rotate(60deg);
}

.profile_cart a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
}


.programmers {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 15px;
    padding: 30px;
    background-color: white;
    margin: 30px 0;
}

.programmers h3, h4{
    margin-bottom: 15px;
}

.programmers h4 {
    color: #212121cc;
}

.programmers img {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 50%;
}

.projectsource h5 {
    margin-bottom: 15px;
}

.projectsource {
    text-align: right;
}

.prog {
    margin: 15px 0;
}

footer {
    font-size: 14px;
    color: rgb(222, 222, 222);
    background-color: #3b3030;
    min-height: 100px;
    padding: 30px;
    text-align: center;
}
