*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter";
    text-align: center;
    font-size: 20px;
    background-color: #ffedd0;
    color: #212121cc;
}

h1, h2, h3, h4, b, strong {
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #795757;
    color: white;
    font-weight: bold;
}


.nav-center {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.navbar ul li {
    margin-right: 40px;
}

.navlinks a {
    color: white;
    text-decoration: none;
}

.navbar .buttons a {
    margin-left: 20px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    padding: 12px 40px;
}



.navbar .logo img {
    width: 150px;
    height: auto;
}
.buttons .signup {
    border: 1px solid transparent;
    background-color: #3b3030;
}

.buttons .signup:hover {
    border: 1px solid transparent;
    background-color: #282121;
    transition: ease 300ms;
}

.buttons .login {
    border: 1px solid rgba(255, 255, 255, 0.422);
}

.buttons .login:hover {
    border: 1px solid rgba(0, 0, 0, 0.422);
    transition: ease 300ms;
}

.form_container {
    text-align: left;
    font-size: 18px;
    margin: 40px auto;
    max-width: 400px;
    padding: 40px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


.intro h1 {
    letter-spacing: 15px;
    text-transform: uppercase;
    color: white;
    font-family: "Knewave", system-ui; /*"Sriracha", cursive;*/
    font-size: 100px;
    margin-bottom: 50px;
}

.intro p {
    color: #ffffffcc
}
.intro {
    padding: 15px;
    color: white;
    min-height: 300px;
    background-color: #3b3030;
}

.form_data input {
    font-family: inherit;
    font-size: inherit;
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 8px;
}

.form_data input[type=submit] {
    width: 200px;
    margin: 30px auto -5px;
    color: #ffffffcc;
    background-color: #3b3030;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 12px 40px;
    font-weight: bold;
}

.message {
    margin-top: 30px;
}

.alert {
    color: white; 
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    margin: 15px 0;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.alert.success {
    position: fixed; 
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1000; 
    width: 300px; 
    text-align: center; 
    background-color: #4caf50; 
    
}

.alert.error {
    background-color: rgb(205, 67, 67);
}
header p {
    text-decoration:underline #ffedd0 4px;
    text-underline-offset: 8px;
    margin-left: 20px;
}




.product_container {
    border: 1px solid #58585836;;;
    margin: 30px auto;
    width: 1200px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    gap: 3rem;
    padding: 40px;
}

.card img {
    width: 200px;
}

.card {
    border-radius: 8px;
    background-color: white;
    padding: 30px;
    margin: auto;
    width: calc(33.333% - 3rem);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card_buttons {
    text-align: left;
    margin: 15px 0;
}

.caption {
    text-align: left;
    display: flex;
    flex-direction: column;
}


.caption p {
    margin: 15px 0;
}

.caption .product_price, .product_subtotal {
    font-weight: bold;
    font-size: 16px;
}

.price_subtotal {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product_subtotal {
    border-radius: 8px;
    border: 1px solid;
    padding: 15px 10px;
}

.total_price {
    text-align: left;
}

.card_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.quantity_wrapper {
    display: flex;
    align-items: center;
}

.card_buttons label {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.card_buttons input[type=number] {
    border-radius: 4px;
    border: 1px solid;
    width: 60px;
    padding: 8px;
}

.card_buttons button {
    border-radius: 8px;
    padding: 12px 40px;
    font-weight: bold;
}


.card_buttons .add {
    color: white;
    background-color: #3b3030;
    border: 1px solid transparent;
}

.card_buttons .add:hover {
    background-color: #282121;
    transition: ease 300ms;
    border: 1px solid transparent;
}

.intro2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    max-width: 100%;
    margin: 30px auto;
    margin-bottom: 20px;
}

.intro2 h2 {
    margin-bottom: 10px;
}

.intro_message_left {
    flex: 1;
    text-align: left;
}

.intro_message_right {
    flex: 1;
    text-align: right;
}

.cart_button_left {
    margin-right: auto;
}

.cart_button_right {
    margin-left: auto;
}


.btn{
    text-decoration: none;
    color: white;
    background-color: #3b3030;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 12px 40px;
    font-weight: bold;
}

.btn:hover {
    background-color: #282121;
    transition: ease 300ms;
}

.cart_table {
    width: 1200px;
    margin: 0px auto;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden; 
    background-color: #58585836;
    border: 1px solid #58585836;;
}

.cart_table input[type=number] {
    border-radius: 4px;
    border: 1px solid;
    width: 60px;
    padding: 8px;
    margin-right: 15px;
}

.cart_table th, .cart_table td {
    border: 2px solid #58585836;;
    padding: 8px;
}

.cart_table td {
    background-color: white;
}

.cart_table th {
    color: white;
    background-color: #664343;
}

.cart_table img {
    max-width: 100px;
    height: auto;
}

.cart_table thead th:first-child {
    border-top-left-radius: 8px;
}

.cart_table thead th:last-child {
    border-top-right-radius: 8px;
}

.cart_table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.cart_table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.cart_table .subtotal {
    font-weight: bold;
}

.cart_table button {
    border-radius: 8px;
    padding: 12px 20px;
    border: 1px solid transparent;
    font-weight: bold;
    color: white;
    margin: 0 5px;
}

.update {
    border: 1px solid transparent;
    background-color: #3b3030;
}

.update:hover {
    background-color: #282121;
    transition: ease 300ms;
}

.remove {
    border: 1px solid transparent;
    background-color: rgb(205, 67, 67);
}

.remove:hover {
    background-color: rgb(174, 58, 58);
    transition: ease 300ms;
}


.total_billing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.total_price {
    margin-left: auto;
}

.proceed_to_billing {
    margin: 0 auto;
}

.empty_cart_message {
    margin: 0 auto;
    color: #212121cc;
}

.total_billing {
    border: 1px solid #58585836;
    background-color: white;
    padding: 50px 0;
    border-radius: 8px;
}

.intro3 {
    text-align: left;
    width: 1200px;
    max-width: 100%;
    margin: 30px auto;
    margin-bottom: 20px;
}

.intro3 h2 {
    margin-bottom: 10px;
}

.billing_container {
    text-align: left;
    font-size: 18px;
    margin: 40px auto;
    max-width: 1200px;
    padding: 40px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.billing_container label {
    display: block;
    font-weight: bold;
    margin: 15px 0;
}

.billing_container input, textarea, select, option {
    font-size: 16px;
    width: 100%;
    padding: 8px;
}

.billing_container button {
    display: block;
    margin: 30px auto 0;
    color: white;
    background-color: #3b3030;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 12px 40px;
    font-weight: bold;
}

.billing_container button:hover {
    background-color: #282121;
    transition: ease 300ms;
}

.order_summary {
    width: 1200px;
    margin: 30px auto;
    padding: 40px;
    border-radius: 8px;
    border: 1px solid #58585836;;
}

.summary_intro {
    margin: 15px;
    border-radius: 8px;
    width: 100%;
    padding: 30px;
    background-color: white;
}

.summary_intro p{
    margin: 10px auto;
    text-align: left;
}

.summary_intro h3 {
    margin-bottom: 10px;
}

.summary_intro h4{
    text-align: right;
}

.cart_table2 {
    width: 100%;
    margin: 0px auto;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden; 
    background-color: #58585836;
    border: 1px solid #58585836;;
}

.cart_table2 th, .cart_table2 td {
    border: 2px solid #58585836;;
    padding: 8px;
}

.cart_table2 td {
    background-color: white;
}

.cart_table2 th {
    color: white;
    background-color: #664343;
}


.cart_table2 thead th:first-child {
    border-top-left-radius: 8px;
}

.cart_table2 thead th:last-child {
    border-top-right-radius: 8px;
}

.cart_table2 tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.cart_table2 tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.cart_table2 .subtotal {
    font-weight: bold;
}
