*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter";
    text-align: center;
    font-size: 20px;
    background-color: #ffedd0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #795757;
    color: white;
    font-weight: bold;
}

.nav-center {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.navbar ul li {
    margin-right: 40px;
}

.navlinks a {
    color: white;
    text-decoration: none;
}

.navbar .buttons a {
    margin-left: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    text-decoration: none;
    padding: 12px 40px;
}

.navbar .logo img {
    width: 150px;
    height: auto;
}
.buttons .signup {
    background-color: #3b3030;
}


.form_container {
    text-align: left;
    font-size: 18px;
    margin: 40px auto;
    max-width: 400px;
    padding: 40px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


.intro h1 {
    margin-bottom: 40px;
}

.form_data input {
    font-family: inherit;
    font-size: inherit;
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 8px;
}

.form_data input[type=submit] {
    width: 200px;
    margin: 30px auto -5px;
    color: white;
    background-color: #3b3030;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 12px 40px;
    font-weight: bold;
}

.message {
    margin-top: 30px;
}

.alert {
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    margin: 15px 0;
    font-size: 14px;
}

/* Style for success messages */
.alert.success {
    background-color: #155724;   
    color: #d4edda;
    border: 1px solid #c3e6cb;
}

/* Style for error messages */
.alert.error {
    background-color: #c0656e;
    color: white;
    border: 1px solid #f5c6cb;
}
header p {
    text-decoration:underline #ffedd0 4px;
    text-underline-offset: 8px;
    margin-left: 20px;
}


.intro h2 {
    margin-bottom: 15px;
}

main {
    margin: 30px auto;
    width: 1200px;
}

.product_container {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    gap: 3rem;
    padding: 30px;
}

.card img {
    width: 200px;
}

.card {
    border-radius: 8px;
    background-color: white;
    padding: 30px;
    margin: auto;
    width: calc(33.333% - 3rem);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card_buttons {
    text-align: left;
    margin: 15px 0;
}

.caption {
    text-align: left;
    display: flex;
    flex-direction: column;
}


.caption p {
    margin: 15px 0;
}

.caption .product_price, .product_subtotal {
    font-weight: bold;
    font-size: 16px;
}

.price_subtotal {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product_subtotal {
    border-radius: 8px;
    border: 1px solid;
    padding: 15px 10px;
}


.card_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.quantity_wrapper {
    display: flex;
    align-items: center;
}

.card_buttons label {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.card_buttons input[type=number] {
    border-radius: 4px;
    border: 1px solid;
    width: 60px;
    padding: 8px;
}

.card_buttons button {
    border-radius: 8px;
    padding: 12px 40px;
    font-weight: bold;
}


.card_buttons .add {
    color: white;
    background-color: #3b3030;
    border: 1px solid transparent;
}

.card_buttons .update {
    margin-left: auto;
    color: white;
    background-color: #3b3030;
    border: 1px solid transparent;
    padding: 12px 10px;
}

.card .remove {
    margin-left: auto;
    border-radius: 8px;
    padding: 12px 10px;
    border: 1px solid transparent;
    font-weight: bold;
    background-color: rgb(205, 67, 67); 
    color: white; 
}

.cart_items img {
    width: 200px;
}

